*~
elpa/
url/
eww-bookmarks
bookmarks
desktop/
server/
eshell/
.emacs.desktop
.emacs.linux.desktop
recentf
.emacs.desktop.lock
network-security.data
games/
ido.last
projectile-bookmarks.eld
session.*
tramp
projectile.cache
.smex-items
places
.mc-lists.el
history
